# Project
.env
credentials/
.credentials/

# Distribution / Packaging / Dependency
node_modules/
build/
dist/
jspm_packages/
.nx/
.nx-output/
.workspace/
lerna/
.lock-wscript
.npmrc
.npmignore
.npm/

# Logs
log*/
*.log

# Unit test / Coverage reports
coverage/
.postman/

# Editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Doc
site/
compodoc/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Misc
*.bak
*.bk
*.tgz
