legacy-peer-deps=true
registry=https://btg-693456651862.d.codeartifact.ap-southeast-1.amazonaws.com/npm/btg-npm/
//btg-693456651862.d.codeartifact.ap-southeast-1.amazonaws.com/npm/btg-npm/:always-auth=true
//btg-693456651862.d.codeartifact.ap-southeast-1.amazonaws.com/npm/btg-npm/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
