micro:
  port: 8010
  microservices:
    tcp:
      retryAttempts: 5
      retryDelay: 1500

log:
  level: info
  logStash:
    host: 51.222.44.17
    port: 31658
    enable: false

mysql:
  host: localhost
  port: 3306
  username: joktec
  password: joktec123
  database: sample_db

guard:
  secret: XXXX

http:
  timeout: 18000000
