$schema: ../../tools/types/config.schema.json

micro:
  port: 8010
  httpEnable: true
  transports:
    - name: RedisTransport
      transport: redis
      options:
        host: localhost
        port: 6379
        password: root
    - name: RabbitTransport
      transport: rmq
      options:
        urls: [ amqp://guest:guest@localhost:5672 ]
        queue: product_queue
        queueOptions:
          durable: true

log:
  level: info
  useFilter: false
  format: pretty
  logStash:
    host: 51.222.44.17
    port: 31658
    enable: false

mysql:
  host: localhost
  port: 3306
  username: root
  password: root
  database: sample_db

http:
  timeout: 18000000
