micro:
  port: 9013
  httpEnable: true
  transports:
    - name: RedisTransport
      transport: redis
      options:
        host: localhost
        port: 6379
        password: root
        db: 0

transports:
  - name: RedisTransport
    transport: redis
    options:
      host: localhost
      port: 6379
      password: root
      db: 0

log:
  level: info
  format: json
  hideWarning: true
  hideObject: false
  hideContexts: [ RouterExplorer, RoutesResolver, InstanceLoader, I18nService ]
  transport:
    enable: true
    target: pino-mongodb
    options:
      uri: mongodb://localhost:27017/dispatch?authSource=admin
      collection: logs
      mongoOptions:
        auth:
          username: root
          password: root

misc:
  cdnUrl: http://127.0.0.1:9000/dispatch
  resizeUrl: http://127.0.0.1:9000/dispatch

mongo:
  - conId: default
    replica: false
    host: localhost
    port: 27017
    username: root
    password: root
    database: dispatch
    autoIndex: true
    params: authSource=admin&directConnection=true&connectTimeoutMS=20000
    debug: false
  - conId: logConnection
    database: dispatch_log

mysql:
  host: localhost
  port: 3306
  username: root
  password: root
  database: dispatch
  sync: true
  benchmark:
    enable: false
    all: true

storage:
  region: ap-southeast-1
  accessKey: accesskey
  secretKey: secretkey
  bucket: dispatch
  endpoint: http://127.0.0.1:9000
  sslEnabled: false
  forcePathStyle: true
  checkBucket: false
  linkFormat: http://127.0.0.1:9000/dispatch/<key>

cacher:
  type: redis
  host: localhost
  port: 6379
  password: root
  database: 0

http:
  timeout: 30000

mailer:
  host: in-v3.mailjet.com
  port: 465
  secure: true
  auth:
    user: f60a4b0f93c8f98d86a7e30b1af413a0
    pass: 79d5ec842ecce822c132a5d37e6eb88c
  sender: 'Dispatch <no-reply@wishmon.net>'
  template:
    dir: ./public/templates
    preview: false
    options:
      engine: hbs
      strict: true

firebase:
  credential: './credentials/dispatch-d581a.json'

notifier:
  isAlwaysUseFCM: true
  fcm:
    appName: dispatch-19582
    credential: './credentials/dispatch-d581a.json'

kafka:
  brokers: [ 127.0.0.1:9092 ]
  ssl: false
