image:
  repository: public.ecr.aws/f8d9n2r3/nest-service-core-14
  pullPolicy: IfNotPresent
  tag: 1.0.0

resources:
  limits:
    memory: "2048Mi"
    cpu: "2"
  requests:
    memory: "1024Mi"
    cpu: "1"

nodeSelector:
  node-type: crawler

servicePackage:
  name: ''
  version: ''

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80

replicaCount: 1

podAnnotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: '9010'

affinity: { }

tolerations: [ ]

livenessProbe:
  httpGet:
    port: 9010
    path: /health
  initialDelaySeconds: 300
  periodSeconds: 10

readinessProbe:
  httpGet:
    port: 9010
    path: /health
  initialDelaySeconds: 300
  periodSeconds: 10

containerSecurityContext:
  enabled: false

podSecurityContext:
  enabled: false
