$schema: ../../tools/types/config.schema.json

gateway:
  port: 9010
  swagger:
    enable: true
    server: http://localhost:9010
    auth:
      username: admin
      password: p4ssw0rd

log:
  level: info
  format: pretty
  useFilter: false
  mongo:
    enable: true
    uri: mongodb://joktec:joktec123@localhost:27017/?authSource=sample_db
    database: sample_db
    collection: logs

bull:
  queue: [ order ]
  host: localhost
  port: 6379
  board:
    enable: true
    path: bulls
    username: admin
    password: p4ssw0rd

misc:
  cdnUrl: http://127.0.0.1:9000/apartment

guard:
  secretKey: $ecr3tK4y
  refreshKey: refreshKey
  expired: 1 year
  pending: 30
  limit: 5

mongo:
  host: localhost
  port: 27017
  username: joktec
  password: joktec123
  database: sample_db
  connectTimeout: 20000
  directConnection: true
  debug: false

storage:
  region: ap-southeast-1
  accessKey: accesskey
  secretKey: secretkey
  bucket: joktec
  endpoint: http://127.0.0.1:9000
  sslEnabled: false
  s3ForcePathStyle: true
  linkFormat: http://127.0.0.1:9000/joktec/<key>

http:
  timeout: 30000

mailer:
  service: zoho
  host: smtppro.zoho.com
  port: 465
  secure: true
  auth:
    user: test@joktec.com
    pass: joktec123
  sender: 'JokTec <support@joktec.com>'
  template:
    dir: ./public/templates/preview
    preview: true
    options:
      engine: hbs
      strict: true

firebase:
  credential: './credentials/joktec-firebase-adminsdk-s49hk-1e6cd820c7.json'
