gateway:
  port: 9011
  swagger:
    enable: true
    server: http://localhost:9011
    security: [ bearer ]
    auth:
      username: admin
      password: admin

transports:
  - name: RedisTransport
    transport: redis
    options:
      host: localhost
      port: 6379
      password: root
      db: 0

bull:
  host: localhost
  port: 6379
  password: root
  db: 0
  board:
    enable: true
    path: bulls
    username: admin
    password: admin
    queues: [ apify_queue ]

log:
  level: info
  style: pretty
  hideWarning: false
  hideObject: false
  hideContexts: [ RouterExplorer, RoutesResolver, InstanceLoader, I18nService ]
  transport:
    enable: true
    target: pino-mongodb
    options:
      uri: mongodb://localhost:27017/dispatch_log?authSource=admin
      collection: logs
      mongoOptions:
        auth:
          username: root
          password: root

misc:
  cdnUrl: http://127.0.0.1:9000/dispatch
  resizeUrl: http://127.0.0.1:9000/dispatch

jwt:
  secretKey: $ecr3tK4y
  refreshKey: refreshKey
  expired: 30 days
  pending: 60
  limit: 5

auth:
  firebase: true
  kakao:
    enable: true
    url: https://kapi.kakao.com
  naver:
    enable: true
    url: https://openapi.naver.com
  amazon:
    enable: true
    url: https://api.amazon.com
  apple:
    enable: true
    url: https://appleid.apple.com
    audience: com.mega.dispatch
  facebook:
    enable: true
    url: https://graph.facebook.com
  google:
    enable: true
    url: https://www.googleapis.com

mongo:
  - conId: default
    replica: false
    host: localhost
    port: 27017
    username: root
    password: root
    database: dispatch
    autoIndex: true
    params: authSource=admin&directConnection=true&connectTimeoutMS=20000
    debug: false
  - conId: logConnection
    database: dispatch_log

mysql:
  host: localhost
  port: 3306
  username: root
  password: root
  database: dispatch
  sync: true
  benchmark:
    enable: false
    all: true

storage:
  region: ap-southeast-1
  accessKey: accesskey
  secretKey: secretkey
  bucket: dispatch
  endpoint: http://127.0.0.1:9000
  sslEnabled: false
  forcePathStyle: true
  checkBucket: false
  linkFormat: http://127.0.0.1:9000/dispatch/<key>

cacher:
  type: redis
  host: localhost
  port: 6379
  password: root
  database: 0

http:
  timeout: 30000
  retryConfig:
    statusCodesToRetry: [ [ 100, 199 ], [ 200, 201 ] ]

firebase:
  credential: './credentials/dispatch-d581a.json'

kafka:
  brokers: [ localhost:9092 ]
  ssl: false
  topics:
    testTopic: test_topic

rabbit:
  hostname: localhost
  port: 5672
  username: guest
  password: guest
  vhost: /

redcast:
  host: localhost
  port: 6379
  password: root
  database: 0
  debug: false

sqs:
  region: us-east-1
  accessKey: dummy
  secretKey: dummy
  endpoint: http://localhost:9324
  queues:
    testQueue: TestQueue
  debug: false
