gateway:
  port: 9010

log:
  level: info
  useFilter: false
  logStash:
    host: 51.222.44.17
    port: 31658
    enable: false
  loki:
    enable: false
    host: https://logs-prod-011.grafana.net

mongo:
  host: localhost
  port: 27017
  username: joktec
  password: joktec123
  database: sample_db
  connectTimeout: 20000
  directConnection: true

guard:
  secret: XXX

http:
  timeout: 30000

mailer:
  host: smtppro.zoho.com
  port: 465
  secure: true
  auth:
    user: test@joktec.com
    pass: joktec123
  sender: 'JokTec <support@joktec.com>'
  templateDir: ./public/templates
